extends layout

block content
  h1#header You Need to Update Your Browser
  p
    |If you were redirected here, it means that your browser doesn't seem to support 
    a(href="https://www.google.com/search?q=WebSocet", title="WebSockets") WebSockets
    |  and/or 
    a(href="https://www.google.com/search?q=JavaScript+typed+arrays", title="typed arrays") typed arrays
    |. These two technologies are what make this example work! If you're just itching to see /dev/random in your browser, go ahead and try a more up-to-date browser like 
    a(href="https://www.google.com/chrome/", title="Google Chrome") Google Chrome
    |, or 
    a(href="http://www.mozilla.org/", title="Mozilla Firefox") Mozilla Firefox
    |.