extends layout

block content
  h1
    a(href="https://github.com/btleffler/RandomStream", target="_blank", title="Github Repo") Streaming /dev/random
  #random
  script(src="http://cdn.binaryjs.com/0/binary.js")
  script(src="/javascripts/random.js")