body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#random {
  overflow: auto;
  text-align: justify;
}

#header {
    display: inline-block;
}

#options {
    float: right;
}

#pause {
  margin: 0 0 0 15px;
}